.userList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.userList li {
  margin: 10px 0;
}

.userList li a {
  text-decoration: none;
  color: orange;
}

.userList li a:hover {
  text-decoration: underline;
}
